@{
}

@using System.Security.Claims

<h1>Mr. Fix-It</h1>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <h4>Hello @User.Identity.Name!</h4>

}
else
{
    <p>
        Please <a asp-controller="Account" asp-action="Login">log in</a> or <a asp-controller="Account" asp-action="Register">register</a>...
    </p>
}


