@{
}

@using MrFixIt.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />

<form asp-controller="Account" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <input type="submit" value="Log in" class="btn btn-default" />
</form>
