@{
}

@using MrFixIt.ViewModels

@model RegisterViewModel

<h2>Register a new worker</h2>
<hr />

<form asp-controller="Account" asp-action="Register" method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email" />

    <label asp-for="Password"></label>
    <input asp-for="Password" />

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />

    <input type="submit" value="Register" class="btn btn-default" />
</form>

