@{
}

@model MrFixIt.Models.Job

<h2>Would you like to do this job?</h2>
<hr />
<form asp-controller="Jobs" asp-action="Claim">
    <input type="hidden" asp-for="JobId" />
    <input type="hidden" asp-for="Title" />
    <input type="hidden" asp-for="Description" />
    <h4>@Model.Title</h4>
    <input type="submit" value="Claim This Job" />
</form>

<a asp-controller="Jobs" asp-action="Index">Back to list</a>
