@{
}

@model MrFixIt.Models.Job

<h1>Create new Job</h1>
<hr />

<form asp-controller="Jobs" asp-action="Create">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>
    <input type="submit" value="Add new Job" />
</form>

<a asp-controller="Jobs" asp-action="Index">Back to list</a>

