@{
}

@model MrFixIt.Models.Job

<h2>Create new Job</h2>
<hr />
<form asp-controller="Jobs" asp-action="Create">
    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <input type="submit" value="Add new Job" />
</form>

<a asp-controller="Jobs" asp-action="Index">Back to list</a>

