@{
}

@using System.Security.Claims
@model MrFixIt.Models.Worker

<h2>Create</h2>
<hr />

<h4>You do not have a complete worker profile. Please create your worker profile</h4>
<form asp-controller="Worker" asp-action="Create">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <input type="submit" value="Register" />
</form>

<a asp-controller="Jobs" asp-action="Index">Back to list</a>
