@{
}

@model MrFixIt.Models.Worker


<h1>@Model.FirstName @Model.LastName</h1>
<hr />

<h3>Your Current Jobs</h3>
@foreach (var Job in Model.Jobs)
{
    <p>@Job.Title</p>

}
@if (Model.Avaliable)
{
    <p>Please <a asp-controller="Jobs" asp-action="Index">select a job</a></p>
}
else
{
    <p>You are already assigned to a job.</p>
}
