body{
    padding-top: 60px;
}

.submit-as-link{
    padding: 1px;
    background: none;
    border: none;
    color: #337ab7;
    cursor: pointer;
}

.submit-as-link:hover{
    color: #23527c;
    text-decoration: underline;
}